                                EMAIL SPAM DETECTION:
LIBRARIES USED:(a)pandas
               (b)numpy
               (c)scikit-learn:for modeling purpose
DATASET:

importing all needed libraries

In [6]:
import pandas as pd
import numpy as np

FEATURE EXTRACTION:
sklearn.feature_extraction : this module is used to extract features in the form supported by MLalgorithms from datasets consisting of formats such as text.
sklearn.feature_extraction.text :as raw data cannot be feeded into the algorithm so sklearn provides an utilities to convert them into numerical fixed set of data.
vectorization : general process of turning a collection of text documents into numerical feature vectors.
1.CountVectorizer implements both tokenization and occurrence counting in a single class

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

MODEL EXTRACTION:
sklearn.model_selection.train_test_split : Split arrays or matrices into random train and test subsets

In [8]:
from sklearn.model_selection import train_test_split

NAIVE BAYES :(supervised learning algorithm,used for classification problems)
A supervised learning algorithm takes a known set of input data (the learning set) and known responses to the data (the output), and forms a model to generate reasonable predictions for the response to the new input data.

"AS WE HAVE DATA FOR THE OUTPUT ie, WHETHER THE EMAIL IS SPAM OR NOT(HAM) SO WE HAVE USED SUPERVISED LEARNING ALGO."

NAIVE BAYES :assumption of conditional independence between every pair of features given the value of the class variable.

MULTINOMIAL NAIVE BAYES :implements the naive Bayes algorithm for multinomially distributed data(Binomial exp. that give multiple outcome eg. You roll a die ten times to see what number you roll. There are 6 possibilities (1, 2, 3, 4, 5, 6), so this is a multinomial experiment.)

In [9]:
from sklearn.naive_bayes import MultinomialNB

dataset:https://raw.githubusercontent.com/amankharwal/SMS-Spam-Detection/master/spam.csv  (this csv file contains data ie,column: class(contains sapm or ham) , message(contains messages))
read_csv : this will read a comma-separated values (csv) file into DataFrame.
The purpose of encoding is to transform data so that it can be properly (and safely) consumed by a different type of system.

In [10]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/SMS-Spam-Detection/master/spam.csv", encoding= 'latin-1')

printing starting few rows to test for right type of data.

In [11]:
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

numpy arrays are used as it can handle large data sets efficiently and with a minimum of fuss.
x variable contains array of messages
y variable contains arr of class(spam/ham)

In [12]:
x = np.array(data["message"])
y = np.array(data["class"])

list of text documents

In [13]:
x

array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
       'Ok lar... Joking wif u oni...',
       "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
       ..., 'Pity, * was in mood for that. So...any other suggestions?',
       "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free",
       'Rofl. Its true to its name'], dtype=object)

In [14]:
y

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In order to use textual data for predictive modeling, the text must be parsed to remove certain words â€“ this process is called tokenization.

In [15]:
cv = CountVectorizer()

tokenize the string and give us a vector for each string, each dimension of which corresponds to the number of times a token is found in the corresponding string

In [16]:
X = cv.fit_transform(x)

In [17]:
print(X)

  (0, 3550)	1
  (0, 8030)	1
  (0, 4350)	1
  (0, 5920)	1
  (0, 2327)	1
  (0, 1303)	1
  (0, 5537)	1
  (0, 4087)	1
  (0, 1751)	1
  (0, 3634)	1
  (0, 8489)	1
  (0, 4476)	1
  (0, 1749)	1
  (0, 2048)	1
  (0, 7645)	1
  (0, 3594)	1
  (0, 1069)	1
  (0, 8267)	1
  (1, 5504)	1
  (1, 4512)	1
  (1, 4318)	1
  (1, 8392)	1
  (1, 5533)	1
  (2, 4087)	1
  (2, 3358)	1
  :	:
  (5570, 4218)	1
  (5570, 8313)	1
  (5570, 1084)	1
  (5570, 4615)	1
  (5570, 7039)	1
  (5570, 3308)	1
  (5570, 7627)	1
  (5570, 1438)	1
  (5570, 5334)	1
  (5570, 2592)	1
  (5570, 8065)	1
  (5570, 1778)	1
  (5570, 7049)	1
  (5570, 2892)	1
  (5570, 3470)	1
  (5570, 1786)	1
  (5570, 3687)	1
  (5570, 4161)	1
  (5570, 903)	1
  (5570, 1546)	1
  (5571, 7756)	1
  (5571, 5244)	1
  (5571, 4225)	2
  (5571, 7885)	1
  (5571, 6505)	1

train_test_split fn. takes a loaded dataset as input and returns the dataset split into two subsets( for training data and for testing data)

X_train => will have 600 data points. Y_train => will have 400 data points. X_test=> will have class labels corresponding to 600 data points. Y_test=> will have class labels corresponding to 400 data points. by default

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [20]:
print(X_train)

  (0, 7756)	1
  (0, 7595)	1
  (0, 1084)	1
  (0, 1351)	1
  (0, 8609)	1
  (0, 3308)	1
  (0, 4939)	2
  (0, 7627)	1
  (0, 1260)	1
  (0, 8362)	1
  (0, 6259)	1
  (0, 4669)	1
  (0, 1794)	1
  (0, 5291)	1
  (0, 3503)	1
  (0, 994)	1
  (0, 5184)	1
  (0, 7454)	1
  (0, 7041)	1
  (0, 2722)	1
  (1, 7756)	1
  (1, 8609)	1
  (1, 7627)	1
  (1, 3953)	1
  (1, 8219)	1
  :	:
  (3728, 6951)	1
  (3728, 5894)	1
  (3728, 3937)	1
  (3728, 3964)	1
  (3729, 1813)	1
  (3729, 4669)	1
  (3729, 7076)	1
  (3729, 4525)	1
  (3730, 3797)	1
  (3730, 5994)	1
  (3730, 7083)	1
  (3730, 6281)	1
  (3730, 3387)	1
  (3730, 7082)	1
  (3731, 4318)	1
  (3731, 6743)	1
  (3731, 5427)	1
  (3731, 7774)	1
  (3732, 4087)	2
  (3732, 5420)	1
  (3732, 3770)	1
  (3732, 3563)	1
  (3732, 8482)	1
  (3732, 5023)	1
  (3732, 3174)	1

In [21]:
clf = MultinomialNB()

In [22]:
clf.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

I need to see the accuracy of my model using score

In [23]:
clf.score(X_test,y_test)

0.9793365959760739

In [24]:
clf.score(X_train,y_train)

0.99464237878382

we have trained the model now testing

In [31]:
sample = input('Enter a message:')
data = cv.transform([sample]).toarray()
print(clf.predict(data))

Enter a message:Nice to meet you
['ham']